
.fixed {
  margin: 0;
  max-height: 100%;
  max-width: 380px;
  z-index: 2;
}

.add-button{
  float: right;
}

.list-group {
  width: 400px;
  max-width: 400px;
  height: 350px;
  max-height: 350px;
  overflow: scroll;
  margin: 4rem auto;
  margin-right: 10px;
  float: left ;
  align-items: center;
  border: 2px lightgray solid;
  padding: 5px;
  }

.output{
  padding-top: 60px;
  width: 100px;
  max-width: 100px;
  height: 350px;
  max-height: 100px;
  float:  left;
}

.output .output-buttons button{

  width:  170px;
  height: 40px;
  margin-top: 5px;

}
.output .output-buttons {

  padding-top: 165px;

}

.list-group .list-group-title{
  top: 110px;
  position: absolute;
  z-index: 3;
}

.list-group .item-container {
  width: 370px;
  max-width: 370px;
}

.list-group .item-container .item {
  margin-top: 5px;
}

.list-group .item-container.item {
  padding-top: 5px;
}

footer {
  clear: both;
  }