
.fixed {
  position: fixed;
  max-height: 100%;
  max-width: 380px;
  z-index: 2;
}

.list-group {
  width: auto;
  max-width: 400px;
  height: 350px;
  max-height: 350px;
  overflow: scroll;
  margin: 4rem auto;
  margin-right: 50px;
  float: left ;

  }

.list-group .item-container {
  padding-top: 40px;
}

.list-group .item-container.item {
  padding-top: 5px;
}

footer {
  clear: both;
  }
