
.fixed {
  position: fixed;
  max-height: 100%;
  max-width: 380px;
  z-index: 2;
}

.add-button{
  float: right;
}

.list-group {
  width: 400px;
  max-width: 400px;
  height: 350px;
  max-height: 350px;
  overflow: scroll;
  margin: 4rem auto;
  margin-right: 50px;
  float: left ;
  align-items: center;
  }

.list-group .list-group-title{
  top: 110px;
  position: absolute;
  z-index: 3;
}

.list-group .item-container {
  padding-top: 40px;
}

.list-group .item-container.item {
  padding-top: 5px;
}

footer {
  clear: both;
  }
